body {
  background: #ebfa78;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app-title {
  text-align: center;
  color: #fff;
  font-size: 70px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.top {
  position: absolute;
  top: 30px;
  left: 615px;
  font-family: cursive;
  font-weight: bolder;
  font-size: 40px;
}

.top-two {
  position: absolute;
  top: 80px;
  left: 525px;
  font-family: cursive;
  font-weight: bolder;
  font-size: 30px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-text {
  display: inline;
  margin: 24px;
  border: none;
  border-radius: 1rem;
  padding: 10px;
  border: none;
}

.add-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #7313cb;
  margin: 20px;
  padding: 10px;
  border-radius: 1.4rem;
  display: inline-block;
  border: none;
}

.listen-btn {
  display: flex;
  right: 0%;
  background: #70efde;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
  border-radius: 2rem;
  padding-right: 10px; 
}

div.welcome>img {
  width:100%; height:55%
}